<!--test for urg mapping-->
<launch>
	<node pkg="urg_node" type="urg_node" name="urg_node"  output="screen">
		<param name="ip_address" value="192.168.0.10"/>
		<param name="publish_multiecho" value="false"/>
	</node>
<!--	<node pkg="tiny_drivers" type="tiny_node" name="tiny_node">-->
<!--		<param name="max_speed" value="0.3" />-->
<!--		<param name="max_rotvel" value="0.25" />-->
<!--	</node>-->
<!--	<node pkg="joy" type="joy_node" name="joy_node">-->
<!--		<param name="dev" value="/dev/input/js0" />-->
<!--	</node>-->
<!--	<node pkg="localization" type="odometry" name="odometry"></node>-->
<!--	<node pkg="tf" type="static_transform_publisher" name="laser2base" args="0.075 0.0 0.0 0 0 0 base_link laser 20" />-->
</launch>
